:host {
  display: flex;
  align-items: center;
}

.account-button,
.logout-button {
  width: 60px;
  height: 60px;
}

.account-button {
  cursor: default;
}

.account-icon,
.logout-icon {
  width: inherit;
  height: inherit;
  font-size: 60px;
}
